name: testing

on:
  workflow_dispatch:
    inputs:
      res_id:
        description: 'Resource ID'
        required: true
        type: string
jobs:
  do-something:
    runs-on: ubuntu-latest
    steps:
      - name: echo command
        run: echo "Hello World ${{ github.event.inputs.res_id }}"
